# Copy this file to .env and fill in your values
# NEVER commit the real .env file to git

# Get this from MongoDB Atlas → Connect → Drivers
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/fitflow?retryWrites=true&w=majority


# Make this a long random string — used to sign JWT tokens
# You can generate one at: https://randomkeygen.com/
JWT_SECRET=your_super_secret_key_here_make_it_long_and_random

# Port the server runs on (Render sets this automatically)
PORT=5000
